@import url("https://glex-ui.vercel.app/component.css");
@import url("./pages/productionlist/productList.css");
@import url("./pages/productionlist/productDetails.css");
@import url("./pages/cart_mngmt/cart_mngmt.css");
@import url("./pages/wishlist/wishlist.css");
@import url("./pages/authentication/auth.css");
@import url("./doc_style/doc_style.css");

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--grey-200);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--secondary-color);
}
